.App {
  text-align: center;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
    justify-content:center;
    margin-top: 2vh; 
    height: 100vh; 
}

.Navbar{
  display: flex;
    flex-direction: row;
    width: 90vw;  
    justify-content: space-around;
  }

/* ----------------------------------------------------- */
/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 90vw;
  justify-content: space-around;

    /* max-height: 100vh; */
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}
.slide img{
  width: 52vw;
  margin-right: 10vw;
}
.slide {
    display: inline-block;
  height: 70vh;
  width: 100vw;
  /* border-radius: 40px; */
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 2vh;
  width: 1.5vw;
  border-radius: 50%;

  cursor: pointer;
  margin: 3vh 1vh 0px ;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}
/* @media screen and (max-width: 768px){
.slide img{
  top: -70px;
}
} */

